*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #F0E7D5;
}

.background {
    background-color: #212842;
    height: 100vh;
    padding-top: 1px;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

#grille {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

#grille .case:hover {
    background-color: coral;
    opacity: .5;
}

#grille .case {
    background-color: #F0E7D5;
    border: 1px solid rgb(0, 0, 0);
    min-width: 100px;
    min-height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-size: contain;
}

#message img { 
    max-width: 15vmin;
}

#replay {
    color: #212842;
}




