* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding: 30px;
}

h1 {
    
        font-family: "Baskervville", serif;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        
      
}

h2 {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

main {
    background-color: #F7F7F7;
}



/* PROJECTS */

#projects a {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

#projects nav div {
  display: inline;
  text-align: center;
}

#projects nav a {
  text-decoration: none;
  margin-right: 2rem;
  margin-left: 2rem;
}

#projects a{
  text-align: center;
  margin: 1.44rem;
}

#projects a{
    background-color: #D1EBFF;
  border:3px solid #D1EBFF;
  border-radius: 12px;
  color: #fffdfd;
  margin: 2rem 2rem;
  transition-duration: 0.4s;
}

#projects a {
  display: block;
  padding: 1rem 1rem;
  font-size: larger;
  margin-bottom: 0.5rem;
}

#projects a:hover {
  background-color: #F7F7F7;
  border: 3px solid #D1EBFF;
  color: #2b2b2c;
}

/* ANIMATIONS */

#links {
  transition-duration: 0.4s;
}

#et1, 
#pc1,
#web1, #web2 {
  transition: transform 0.4s;
}

#et1:hover, 
#pc1:hover,
#web1:hover, #web2:hover {
  transform: scale(1.015);
}
