* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: 30px;
}

h1 {
  
      font-family: "Baskervville", serif;
      font-weight: 400;
      font-style: italic;
      text-align: center;
      font-size:60px; 
}


    
      /* Mobile */
      @media screen and (max-width: 480px) {
        h1, h2 {
            font-size: 40px;
        }

}

h2 {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  font-size: 40px;
}

main {
  background-color: #F7F7F7;
}


/* CUSTOM BREAK */

.custom-br {
  
  display: none;
  margin: 0 auto;
  width: 95%;
  height: 1.5px;
  background-color: #F7F7F7; /*change color*/
  margin-top: 2.5rem;
}


/* EXERCISES */

#exercises a {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

    text-align: center;
  margin: 1.44rem;

  display: block;
  padding: 1rem 1rem;
  font-size: larger;
  margin-bottom: 0.5rem;

  /* color: #F1E6D2;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  transition-duration: 0.4s; */
}

#exercises a nav div {
  display: inline;
  text-align: center;

  /*display: block;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.5rem;*/
}

#exercises nav a {
  text-decoration: none;
  margin-right: 2rem;
  margin-left: 2rem;
}

#exercises a{
    background-color: #D1EBFF;
  border:3px solid #D1EBFF;
  border-radius: 12px;
  color: #fffdfd;
  margin: 2rem 2rem;
  transition-duration: 0.4s;
}

#exercises a:hover {
  background-color: #F7F7F7;
  border: 3px solid #D1EBFF;
  color: #2b2b2c;
}


#exercises{
  margin-top: 3rem;
  margin-bottom: 5rem;
}

/* ANIMATIONS */

#links {
  transition-duration: 0.4s;
}

#transitions, 
#transforms2d,
#transforms3d, #keyframe {
  transition: transform 0.4s;
}

#transitions:hover, 
#transforms2d:hover,
#transforms3d:hover, #keyframe:hover
 {
  transform: scale(1.015);
}

    
      /* Mobile */
      @media screen and (max-width: 480px) {
        h1 {
            font-size: 50px;
        }

}




